<dict>
	<key>Program</key>
	<string>/System/Library/CoreServices/OSDUIHelper.app/Contents/MacOS/OSDUIHelper</string>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>LoginWindow</string>
		<string>Aqua</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>com.apple.OSDUIHelper</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>com.apple.OSDUIHelper</string>
	<key>ProcessType</key>
	<string>App</string>
</dict>
